<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Semana de Esporte e Cultura do IFPB - Campus João Pessoa">
<meta name="author" content="IFPB - Campus João Pessoa">
<meta name="keywords" content="semana, artes, esporte, cultura, ifpb, joão pessoa, paraíba">

<!-- OG Tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@secif" />
<meta name="twitter:creator" content="@ifpbcampusjp" />
<meta property="og:url" content="http://joaopessoa.ifpb.edu.br/secif/" />
<meta property="og:title" content="Semana de Esporte e Cultura do IFPB - Campus João Pessoa" />
<meta property="og:description" content="In the early days, Twitter grew so quickly that it was almost impossible to add new features because engineers spent their time trying to keep the rocket ship from stalling." />
<meta property="og:image" content="http://graphics8.nytimes.com/images/2011/12/08/technology/bits-newtwitter/bits-newtwitter-tmagArticle.jpg" />

<title>SECIF 2018</title>
<!-- favicon -->

<!-- Fontes -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">

<!-- Simple Line Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

<!-- Bootstrap 4 e CSS local -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">