<section id="inscricao" class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6">
            <h2>Não perca tempo,<br>se inscreva agora!</h2>
            <p class="text text-danger">Inscrições abertas até o dia 7 de Janeiro para as atividades esportivas e dia 20 de Janeiro para demais atividades.</p>

            <div class="row container">
                <div class="alert alert-warning" role="alert">
                    
                    <h4 class="alert-heading">Modalidades</h4>
                    <p>Cada participante pode escolher uma atividade física coletiva, até três atividades individuais e participar de todas as atividades culturais, como show de talentos e gincana do conhecimento.</p>
                    <p><small>As modalidades podem ser escolhidas ao acessar o sistema.</small></p>
                    <hr>
                    
                    
                    <h4 class="alert-heading">Atestado de aptidão física</h4>
                    <p class="mb-0">O atestado é obrigatório para participação nas atividades esportivas.<p>
                    <p><small>Caso não tenha entregue o atestado de aptidão física no início do ano letivo, você pode anexá-lo ao sistema quando se logar.</small></p>
                    <hr>
                    
                        
                    <h4 class="alert-heading">Confirmação de participação</h4>
                    <p>A confirmação da sua participação será feita pelos coordenadores dos cursos.</p> 
                    <p><small>Você será informado por email sobre a confirmação da sua participação.</small></p> 
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-6 col-xl-6">
            <h3>Inscrição</h3>
            <hr>
            <form>    
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Senha</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Senha">
                    </div>
                </div>
                            
                <div class="form-group">
                    <label for="inputAddress">Nome completo</label>
                    <input type="text" class="form-control" id="inputNome" placeholder="José da Silva">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Data de Nascimento</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Eu sou...</label>
                        <select id="inputState" class="form-control">
                                <option selected>Escolha...</option>
                                <option>Docentes</option>
                                <option>Estudante</option>
                                <option>Técnico Administrativo</option>
                                <option>Terceirizado</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAddress">Endereço</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Av. Primeiro de Maio, 720">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress2">Complemento</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Casa, apartamento etc">
                    </div>
                    <div class="form-group col-md-6">
                            <label for="inputAddress2">Bairro</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Jaguaribe">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Cidade</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">UF</label>
                        <select id="inputState" class="form-control">
                            <option selected>Escolha...</option>
                            <option>PA</option>
                            <option>PB</option>
                            <option>PE</option>
                            <option>PI</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputZip">CEP</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Matrícula</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Curso</label>
                        <select id="inputState" class="form-control">
                            <option selected>Escolha...</option>
                            <option>PA</option>
                            <option>PB</option>
                            <option>PE</option>
                            <option>PI</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputZip">Tamanho da camisa</label>
                        <select id="inputState" class="form-control">
                                <option selected>Escolha...</option>
                                <option>Pequena (P)</option>
                                <option>Média (M)</option>
                                <option>Grande (G)</option>
                                <option>Extra Grande (GG)</option>
                            </select>
                    </div>
                </div>
                
                <hr>
                <div class="form-group">
                    <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Já entreguei o atestado de apitidão física no início do ano letivo.
                    </label>
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Me inscrever na lista de e-mail da Semana de Esporte e Cultura.
                    </label>
                </div>
                
                <button type="submit" class="btn btn-xl btn-outline">Confirmar inscrição</button>
            </form>
        </div>
    </div>
</section>