<section class="bg-white" id="modal-crono">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h2 class="section-heading">Modalidades &amp; Cronograma da SECIF</h2>
                <hr>
            </div>
        </div>

        <div id="modal-crono-pad" class="row">

            <!-- Modalidades -->
            <div class="col-md-7 col-lg-7 col-xl-7 mx-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-left">Modalidades &amp; Atividades</th>
                            <th></th>
                            <th class="text-center">Coletiva</th>
                            <th class="text-center">Individual</th>
                            <th class="text-center">Regulamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">Atletismo</td>
                            <td><i class="fas fa-circle circle-color-modalidade-1"></i></td>
                            <td class="text-center"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">Badminton</td>
                            <td><i class="fas fa-circle circle-color-modalidade-2"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">Basquete</td>
                            <td><i class="fas fa-circle circle-color-modalidade-3"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">Festival de Interprétes</td>
                            <td><i class="fas fa-circle circle-color-modalidade-4"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - FESTIVAL DE INTERPRETES 2017.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">Futebol de Campo</td>
                            <td><i class="fas fa-circle circle-color-modalidade-5"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>   
                        <tr>
                            <td class="text-left">Futebol de Salão</td>
                            <td><i class="fas fa-circle circle-color-modalidade-6"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>   
                            <td class="text-left">Garota e Garoto SECIF</td>
                            <td><i class="fas fa-circle circle-color-modalidade-7"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - GAROTA E GAROTO SECIF 2017.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>   
                            <td class="text-left">Gincana do Conhecimento</td>
                            <td><i class="fas fa-circle circle-color-modalidade-8"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr> 
                            <td class="text-left">Handebol</td>
                            <td><i class="fas fa-circle circle-color-modalidade-9"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">Lançamento de Foguete</td>
                            <td><i class="fas fa-circle circle-color-modalidade-10"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - LANÇAMENTO DE FOGUETES SECIF 2017.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">Mostra de Talentos</td>
                            <td><i class="fas fa-circle circle-color-modalidade-11"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - MOSTRAS DE TALENTOS SECIF 2017.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">Natação</td>
                            <td><i class="fas fa-circle circle-color-modalidade-12"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">Robótica</td>
                            <td><i class="fas fa-circle circle-color-modalidade-13"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - ROBÓTICA SECIF 2017.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">Volei</td>
                            <td><i class="fas fa-circle circle-color-modalidade-14"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left"></i> Xadrez</td>
                            <td><i class="fas fa-circle circle-color-modalidade-15"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center"><i class="fas fa-check"></i></td>
                            <td class="text-center">
                                <a href="/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfooter>
                        <tr><td colspan="5"><small>A atividade de <span class="text-danger">MELHOR TORCIDA</span> não terá regulamento. As informações referente a essa atividade serão apresentadas durante a cerimônia de abertura.</small></td></tr>
                    </tfooter>
                </table>
            </div>

            <!-- Cronograma -->
            <div class="col-md-5 col-lg-5 col-xl-5 mx-auto">
                <div class="row container">
                        <!--<div class="col-md-1 col-lg-1 col-lx-1"></div>-->
                        <div class="col-md-12 col-lg-12 col-lx-12">
                                <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center" colspan="2">Cronograma</th>
                                            </tr>
                                            <tr>
                                            <th class="text-right">Data</th>
                                            <th>Atividade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-right">27 / Dez</td>
                                                <td>Início das inscrições</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">7 / Jan</td>
                                                <td>Fim das inscrições esportivas</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">9 / Jan</td>
                                                <td>Validação das equipes</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right align-middle">20 / Jan</td>
                                                <td>Fim das inscrições</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">23 / Jan</td>
                                                <td>Congresso técnico</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">25 / Jan</td>
                                                <td><i class="fas fa-circle circle-color-modalidade-7"></i></td>
                                            </tr>
                                            <tr>
                                                <td class="text-right align-middle" rowspan="2">26 / Jan</td>
                                                <td>Cerimônia de abertura</td>
                                            </tr>
                                            <tr>
                                                <td>Entrega das camisas</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">27 / Jan</td>
                                                <td>
                                                    <i class="fas fa-circle circle-color-modalidade-1"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-2"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-3"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-5"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-6"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-9"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-12"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-14"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-15"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-10"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-13"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">29 / Jan</td>
                                                <td>
                                                    <i class="fas fa-circle circle-color-modalidade-1"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-2"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-3"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-5"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-6"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-9"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-12"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-14"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-15"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-10"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-13"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">30 / Jan</td>
                                                <td>
                                                    <i class="fas fa-circle circle-color-modalidade-1"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-2"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-3"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-5"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-6"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-9"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-12"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-14"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-15"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-10"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-13"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">31 / Jan</td>
                                                <td>
                                                    <i class="fas fa-circle circle-color-modalidade-1"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-2"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-3"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-5"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-6"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-9"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-12"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-14"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-15"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-10"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-13"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">1 / Fev</td>
                                                <td>
                                                    <i class="fas fa-circle circle-color-modalidade-1"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-2"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-3"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-5"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-6"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-9"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-12"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-14"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-15"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-10"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-13"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-right align-middle" rowspan="2">2 / Fev</td>
                                                <td>
                                                    <i class="fas fa-circle circle-color-modalidade-4"></i>
                                                    <i class="fas fa-circle circle-color-modalidade-8"></i>
                                                </td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Cerimônia de encerramento</td>
                                            </tr>
                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <td class="text-left" colspan="2"><small>Cronograma sujeito a alterações.</small></td>
                                            </tr>
                                        </tfooter>
                                    </table>
                            </div>
                    </div>
                </div>
                </div>
            </div>
        </div>                                         
    </div>
</section>