<!DOCTYPE>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Semana de Esporte e Cultura do IFPB - Campus João Pessoa">
        <meta name="author" content="IFPB - Campus João Pessoa">
        <meta name="keywords" content="semana, artes, esporte, cultura, ifpb, joão pessoa, paraíba">

        <!-- OG Tags -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@secif" />
        <meta name="twitter:creator" content="@ifpbcampusjp" />
        <meta property="og:url" content="http://www.ifpb.edu.br/secif/" />
        <meta property="og:title" content="Semana de Esporte e Cultura do IFPB - Campus João Pessoa" />
        <meta property="og:description" content="In the early days, Twitter grew so quickly that it was almost impossible to add new features because engineers spent their time trying to keep the rocket ship from stalling." />
        <meta property="og:image" content="http://graphics8.nytimes.com/images/2011/12/08/technology/bits-newtwitter/bits-newtwitter-tmagArticle.jpg" />

        <title>SECIF 2018</title>
        <!-- favicon -->

        <link rel="stylesheet" href="http://localhost:3000/assets/vendor/simple-line-icons/css/simple-line-icons.css">

        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/css/style.css">
    </head>

    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-expand-md navbar-light bg-transparent">
            <div class="container">
                <div id="logo-ifpb">
                    <a href="http://localhost:3000/">
                        <img id="logo" src="http://localhost:3000/assets/img/campus-joao-pessoa.png" class="img-fluid text-center" alt="">
                    </a>
                </div>

                <div class="navbar-brand nav">
                    <a href="http://localhost:3000/">Semana de Esporte e Cultura</a>
                </div>
                
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:3000/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#crono-modalidades">Modalidades & Cronograma</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#regulamentos">Regulamentos</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#inscricao">Inscrição</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="http://localhost:3000/sgsecif/login">Acessar o sistema</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <header>
            <div class="container">
                <div id="header-content" class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="text-left">
                            <h1 class="mb-5">Gosta de esporte e cultura? Então vem <strong>participar</strong> da SECIF com a gente! <span id="header-content-heart"><i class="fas fa-heart"></i></span></h1>
                            <a href="#inscricao" class="btn btn-outline btn-xl js-scroll-trigger"><i class="icon-user-follow"></i> Realizar Inscrição</a>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-6 col-xl-6 text-center">
                        <div id="header-atividade" class="container">
                            <img id="header-img-atividade" src="http://localhost:3000/assets/img/atividade-14.png" height="50%">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="bg-white text-center" id="crono-modalidades">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <h2 class="section-heading">Modalidades & Cronograma da SECIF</h2>
                            <hr>
                        </div>
                    </div>
    
                    <div id="crono-modal" class="row text-center">

                        <!-- Modalidades -->
                        <div class="col-md-7 col-lg-7 col-xl-7 mx-auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-left">Modalidades & Atividades</th>
                                        <th></th>
                                        <th class="text-center">Coletiva</th>
                                        <th class="text-center">Individual</th>
                                        <th class="text-center">Regulamento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-left">Atletismo</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-1"></i></td>
                                        <td class="text-center"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Badminton</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-2"></i></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Basquete</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-3"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Festival de Interprétes</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-4"></i></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - FESTIVAL DE INTERPRETES 2017.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Futebol de Campo</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-5"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td class="text-left">Futebol de Salão</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-6"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>   
                                        <td class="text-left">Garota e Garoto SECIF</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-7"></i></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - GAROTA E GAROTO SECIF 2017.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>   
                                        <td class="text-left">Gincana do Conhecimento</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-8"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                    <tr> 
                                        <td class="text-left">Handebol</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-9"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Lançamento de Foguete</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-10"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - LANÇAMENTO DE FOGUETES SECIF 2017.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Mostra de Talentos</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-11"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - MOSTRAS DE TALENTOS SECIF 2017.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Natação</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-12"></i></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Robótica</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-13"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - ROBÓTICA SECIF 2017.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">Volei</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-14"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left"></i> Xadrez</td>
                                        <td><i class="fas fa-circle circle-color-modalidade-15"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center"><i class="fas fa-check"></i></td>
                                        <td class="text-center">
                                            <a href="http://localhost:3000/assets/docs/REGULAMENTO - MODALIDADES DESPORTIVAS.pdf">
                                                <i class="far fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfooter>
                                    <tr><td colspan="5"><small>A atividade de <span class="text-danger">MELHOR TORCIDA</span> não terá regulamento. As informações referente a essa atividade serão apresentadas durante a cerimônia de abertura.</small></td></tr>
                                </tfooter>
                            </table>
                        </div>
    
                        <!-- Cronograma -->
                        <div class="col-md-5 col-lg-5 col-xl-5 mx-auto">
                            <div class="row container">
                                    <!--<div class="col-md-1 col-lg-1 col-lx-1"></div>-->
                                    <div class="col-md-12 col-lg-12 col-lx-12">
                                            <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center" colspan="2">Cronograma</th>
                                                        </tr>
                                                        <tr>
                                                        <th class="text-right">Data</th>
                                                        <th>Atividade</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-right">27 / Dez</td>
                                                            <td>Início das inscrições</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">7 / Jan</td>
                                                            <td>Fim das inscrições esportivas</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">9 / Jan</td>
                                                            <td>Validação das equipes</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right align-middle">20 / Jan</td>
                                                            <td>Fim das inscrições</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">23 / Jan</td>
                                                            <td>Congresso técnico</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">25 / Jan</td>
                                                            <td><i class="fas fa-circle circle-color-modalidade-7"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right align-middle" rowspan="2">26 / Jan</td>
                                                            <td>Cerimônia de abertura</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Entrega das camisas</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">27 / Jan</td>
                                                            <td>
                                                                <i class="fas fa-circle circle-color-modalidade-1"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-2"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-3"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-5"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-6"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-9"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-12"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-14"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-15"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-10"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-13"></i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">29 / Jan</td>
                                                            <td>
                                                                <i class="fas fa-circle circle-color-modalidade-1"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-2"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-3"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-5"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-6"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-9"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-12"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-14"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-15"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-10"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-13"></i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">30 / Jan</td>
                                                            <td>
                                                                <i class="fas fa-circle circle-color-modalidade-1"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-2"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-3"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-5"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-6"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-9"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-12"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-14"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-15"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-10"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-13"></i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">31 / Jan</td>
                                                            <td>
                                                                <i class="fas fa-circle circle-color-modalidade-1"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-2"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-3"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-5"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-6"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-9"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-12"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-14"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-15"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-10"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-13"></i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right">1 / Fev</td>
                                                            <td>
                                                                <i class="fas fa-circle circle-color-modalidade-1"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-2"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-3"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-5"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-6"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-9"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-12"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-14"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-15"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-10"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-13"></i>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right align-middle" rowspan="2">2 / Fev</td>
                                                            <td>
                                                                <i class="fas fa-circle circle-color-modalidade-4"></i>
                                                                <i class="fas fa-circle circle-color-modalidade-8"></i>
                                                            </td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td>Cerimônia de encerramento</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfooter>
                                                        <tr>
                                                            <td class="text-left" colspan="2"><small>Cronograma sujeito a alterações.</small></td>
                                                        </tr>
                                                    </tfooter>
                                                </table>
                                        </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>                                         
                </div>
            </section>

        <section class="features" id="regulamentos">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Os princípios da SECIF são alicerçados na<br>Política Federal de Educação</h2>
            </div>
        </div>
        </section>

        <section id="inscricao" class="container">
                <div class="row">
                    <h2>As inscrições da SECIF estarão disponíveis em algumas horas. Desculpe-nos pelo atraso.</h2>
                </div>

            </section>
        <!-- Inscrição 
        <section id="inscricao" class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <h2>Não perca tempo,<br>se inscreva agora!</h2>
                    <p class="text text-danger">Inscrições abertas até o dia 7 de Janeiro para as atividades esportivas e dia 20 de Janeiro para demais atividades.</p>

                    <div class="row container">
                        <div class="alert alert-warning" role="alert">
                            
                            <h4 class="alert-heading">Modalidades</h4>
                            <p>Cada participante pode escolher uma atividade física coletiva, até três atividades individuais e participar de todas as atividades culturais, como show de talentos e gincana do conhecimento.</p>
                            <p><small>As modalidades podem ser escolhidas ao acessar o sistema.</small></p>
                            <hr>
                            
                            
                            <h4 class="alert-heading">Atestado de aptidão física</h4>
                            <p class="mb-0">O atestado é obrigatório para participação nas atividades esportivas.<p>
                            <p><small>Caso não tenha entregue o atestado de aptidão física no início do ano letivo, você pode anexá-lo ao sistema quando se logar.</small></p>
                            <hr>
                            
                                
                            <h4 class="alert-heading">Confirmação de participação</h4>
                            <p>A confirmação da sua participação será feita pelos coordenadores dos cursos.</p> 
                            <p><small>Você será informado por email sobre a confirmação da sua participação.</small></p> 
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6">
                    <h3>Inscrição</h3>
                    <hr>
                    <form>    
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Senha</label>
                                <input type="password" class="form-control" id="inputPassword4" placeholder="Senha">
                            </div>
                        </div>
                                    
                        <div class="form-group">
                            <label for="inputAddress">Nome completo</label>
                            <input type="text" class="form-control" id="inputNome" placeholder="José da Silva">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">Data de Nascimento</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress">Eu sou...</label>
                                <select id="inputState" class="form-control">
                                        <option selected>Escolha...</option>
                                        <option>Docentes</option>
                                        <option>Estudante</option>
                                        <option>Técnico Administrativo</option>
                                        <option>Terceirizado</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress">Endereço</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Av. Primeiro de Maio, 720">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputAddress2">Complemento</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Casa, apartamento etc">
                            </div>
                            <div class="form-group col-md-6">
                                    <label for="inputAddress2">Bairro</label>
                                    <input type="text" class="form-control" id="inputAddress2" placeholder="Jaguaribe">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">Cidade</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputState">UF</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Escolha...</option>
                                    <option>PA</option>
                                    <option>PB</option>
                                    <option>PE</option>
                                    <option>PI</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputZip">CEP</label>
                                <input type="text" class="form-control" id="inputZip">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">Matrícula</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">Curso</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Escolha...</option>
                                    <option>PA</option>
                                    <option>PB</option>
                                    <option>PE</option>
                                    <option>PI</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputZip">Tamanho da camisa</label>
                                <select id="inputState" class="form-control">
                                        <option selected>Escolha...</option>
                                        <option>Pequena (P)</option>
                                        <option>Média (M)</option>
                                        <option>Grande (G)</option>
                                        <option>Extra Grande (GG)</option>
                                    </select>
                            </div>
                        </div>
                        
                        <hr>
                        <div class="form-group">
                            <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"> Já entreguei o atestado de apitidão física no início do ano letivo.
                            </label>
                            <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox"> Me inscrever na lista de e-mail da Semana de Esporte e Cultura.
                                </label>
                                                </div>
                        
                        <button type="submit" class="btn btn-danger">Confirmar inscrição</button>
                    </form>
                </div>
            </div>
        </section>
    -->

        <!-- FAQ -->
        <section class="container-fluid" id="faq">
        <div class="container">
            <div class="row">
                <h2>Perguntas<span id="faq-h2-span">&amp;</span>Respostas</h2>
            </div>

            <div id="faq-section" class="row">
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <h4>Para participar, precisa pagar alguma taxa?</h4>
                    <p>Não! A participação na SECIF é gratuita. Inclusive, a camisa das equipes é fornecida aos participantes sem custo para os estudantes.</p>
                    
                    <h4>Qualquer pessoa pode participar?</h4>
                    <p>Apenas estudantes, servidores e prestadores de serviço do IFPB - Campus João Pessoa podem participar. Mas o instituto estará de portas abertas para qualquer pessoa que queira vir prestigiar as atividades.</p>
                    
                    <h4>Em quantas modalidades posso me inscrever?</h4>
                    <p>Você pode se insvcrever para participar de até três modalidades individuais e apenas uma modalidade coletiva. Mas também pode se inscrever para participar, sem restrição, da Gincana do Conhecimento, da Robótica, do Lançamento de Foguetes, do Gatoro e Garota SECIF e do Festival de Interpretes.</p>
                    
                    <h4>Nas modalidades coletivas, qual o número máximo de participantes?</h4>
                    <p>Depende da modalidade e do nível de ensino. Para os cursos superiores e subsequentes, todas as modalidades coletivas tem o número máximo de 10 participantes. O mesmo se aplica as modalidades destinadas aos Servidores. Para o integrado, a quantidade de participantes por modalidade é variada. Consulte o <a href="www.ifpb.edu.br">edital</a> de convocação para se informar melhor.</p>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4">
                    <h4>Posso me escrever até quando?</h4>
                    <p>As inscrições estarão abertas até o dia 7 de Janeiro para as atividades esportivas, enquanto as demais atividades terão prazo de inscrição até o dia 20 de Janeiro.</p>
                        
                    <h4>Por quê não posso inscrever minha equipe?</h4>
                    <p>As inscrições são individuais, ou seja, cada participante deve se inscrever individualmente. A formação das equipes será feita pelos coordenadores de turma, em momento posterior a fase de inscrição, conforme cronograma da SECIF.</p>
                    
                    <h4>Posso participar de uma modalidade destinada a um nível de ensino diferente do meu?</h4>
                    <p>Não. Alunos dos cursos integrados devem participar nas modalidades destinadas ao seu nível de ensino, o mesmo se aplica aos estudantes dosoutros níveis de ensino. A única excessão são os alunos do curso técnico integrado em Eventos, que por ser destinado a adultos, competirão com os alunos dos cursos técnicos subsequentes.</p>
                    
                    <h4>Todas as atividades acontecerão no Campus?</h4>
                    <p>Correto! Todas as atividades da SECIF ocorrerão dentro do Campus João Pessoa.</p>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4">
                    <h4>Eu sou menor de idade, vou precisar trazer autorização dos meus pais?</h4>
                    <p>Sim. Todos os alunos menores de idade deverão trazer a autorização dos pais, conforme formulário que será disponibilizado no sistema após o período de inscrição.</p>
                        
                    <h4>Se a minha inscrição não for confirmada, a quem posso reclamar?</h4>
                    <p>As inscrições serão confirmadas pelos coordenadores de turma e pelos coordenadores de curso, logo, você deve contactá-los para resolver problemas referentes a confirmação de inscrição.</p>
                    
                    <h4>Se a camisa ficar pequena ou grande, posso trocá-la?</h4>
                    <p>As camisas vão ser feitas sob encomenda, por isso solicitamos que você informe o tamanho da sua sua camisa no ato da inscrição. Então, não será possível trocar a camisa por outra com numeração diferente.</p>
                </div>
            </div>
        </div>
        </section>

        <footer class="container-fluid">
            <div class="container">
                
                <div class="row">
                    <div class="col-lg-9">
                        <p class="text-left">
                            <small>
                                Copyright 2017-18, IFPB - Campus João Pessoa.<br>
                                Desenvolvido com <small><i class="icon-heart"></i></small> e muito <small><i class="icon-cup"></i></small> por <a href="https://ifpb.github.io/secif">voluntários</a> do Instituto Federal da Paraíba - Campus João Pessoa.<br>
                                Visite nosso repositório no <a href="https://github.com/ifpb/secif"><i class="icon-social-github"></i></a> se deseja contribuir com este projeto.         
                            </small>
                        </p>
                    </div>
                    <div class="col-lg-3 align-middle">
                        <h3>
                            <a href=""><i class="icon-social-twitter social-media"></i></a>
                            <a href=""><i class="icon-social-facebook social-media"></i></a>
                            <a href=""><i class="icon-social-instagram social-media"></i></a>
                        </h3>
                    </div>
                </div>
            </div>
        </footer>

        <!-- -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function() {
                setInterval(function imgCarrossel() {
                    let url_img_atividade = "http://localhost:3000/assets/img/atividade-";
                    let min = 1, max = 41;
                    let random = Math.floor(Math.random() * (max - min + 1)) + min;
                    url_img_atividade += random;
                    url_img_atividade += '.png';
                    $('#header-img-atividade').attr("src", url_img_atividade);
                }, 3000);
            });
        </script>
    </body>
</html>