<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <p class="text-left">
                    <small>
                        Copyright 2017-18, IFPB - Campus João Pessoa.<br>
                        Desenvolvido com <small><i class="icon-heart"></i></small> e muito <small><i class="icon-cup"></i></small> por <a href="https://ifpb.github.io/secif">voluntários</a> do Instituto Federal da Paraíba - Campus João Pessoa.<br>
                        Visite nosso repositório no <a href="https://github.com/ifpb/secif"><i class="icon-social-github"></i></a> se deseja contribuir com este projeto.         
                    </small>
                </p>
            </div>
            <div class="col-lg-3 align-middle">
                <h3>
                    <a href=""><i class="icon-social-twitter social-media"></i></a>
                    <a href=""><i class="icon-social-facebook social-media"></i></a>
                    <a href=""><i class="icon-social-instagram social-media"></i></a>
                </h3>
            </div>
        </div>
    </div>
</footer>