<section class="container-fluid" id="faq">
    <div class="container">
        <div class="row">
            <h2>Perguntas<span id="faq-h2-span">&amp;</span>Respostas</h2>
        </div>

        <div id="faq-section" class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <h4>Para participar, precisa pagar alguma taxa?</h4>
                <p>Não! A participação na SECIF é gratuita. Inclusive, a camisa das equipes é fornecida aos participantes sem custo para os estudantes.</p>
                
                <h4>Qualquer pessoa pode participar?</h4>
                <p>Apenas estudantes, servidores e prestadores de serviço do IFPB - Campus João Pessoa podem participar. Mas o instituto estará de portas abertas para qualquer pessoa que queira vir prestigiar as atividades.</p>
                
                <h4>Em quantas modalidades posso me inscrever?</h4>
                <p>Você pode se insvcrever para participar de até três modalidades individuais e apenas uma modalidade coletiva. Mas também pode se inscrever para participar, sem restrição, da Gincana do Conhecimento, da Robótica, do Lançamento de Foguetes, do Gatoro e Garota SECIF e do Festival de Interpretes.</p>
                
                <h4>Nas modalidades coletivas, qual o número máximo de participantes?</h4>
                <p>Depende da modalidade e do nível de ensino. Para os cursos superiores e subsequentes, todas as modalidades coletivas tem o número máximo de 10 participantes. O mesmo se aplica as modalidades destinadas aos Servidores. Para o integrado, a quantidade de participantes por modalidade é variada. Consulte o <a href="www.ifpb.edu.br">edital</a> de convocação para se informar melhor.</p>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4">
                <h4>Posso me escrever até quando?</h4>
                <p>As inscrições estarão abertas até o dia 7 de Janeiro para as atividades esportivas, enquanto as demais atividades terão prazo de inscrição até o dia 20 de Janeiro.</p>
                    
                <h4>Por quê não posso inscrever minha equipe?</h4>
                <p>As inscrições são individuais, ou seja, cada participante deve se inscrever individualmente. A formação das equipes será feita pelos coordenadores de turma, em momento posterior a fase de inscrição, conforme cronograma da SECIF.</p>
                
                <h4>Posso participar de uma modalidade destinada a um nível de ensino diferente do meu?</h4>
                <p>Não. Alunos dos cursos integrados devem participar nas modalidades destinadas ao seu nível de ensino, o mesmo se aplica aos estudantes dosoutros níveis de ensino. A única excessão são os alunos do curso técnico integrado em Eventos, que por ser destinado a adultos, competirão com os alunos dos cursos técnicos subsequentes.</p>
                
                <h4>Todas as atividades acontecerão no Campus?</h4>
                <p>Correto! Todas as atividades da SECIF ocorrerão dentro do Campus João Pessoa.</p>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4">
                <h4>Eu sou menor de idade, vou precisar trazer autorização dos meus pais?</h4>
                <p>Sim. Todos os alunos menores de idade deverão trazer a autorização dos pais, conforme formulário que será disponibilizado no sistema após o período de inscrição.</p>
                    
                <h4>Se a minha inscrição não for confirmada, a quem posso reclamar?</h4>
                <p>As inscrições serão confirmadas pelos coordenadores de turma e pelos coordenadores de curso, logo, você deve contactá-los para resolver problemas referentes a confirmação de inscrição.</p>
                
                <h4>Se a camisa ficar pequena ou grande, posso trocá-la?</h4>
                <p>As camisas vão ser feitas sob encomenda, por isso solicitamos que você informe o tamanho da sua sua camisa no ato da inscrição. Então, não será possível trocar a camisa por outra com numeração diferente.</p>
            </div>
        </div>
    </div>
    </section>