<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <% include ../../partials/head %>
    </head>
    <body id="page-top">
        <nav id="mainNav" class="navbar navbar-expand-md navbar-light bg-transparent">
            <div class="container">
                <div id="logo-ifpb">
                    <a href="/">
                        <img id="logo" src="/assets/img/campus-joao-pessoa.png" class="img-fluid text-center" alt="">
                    </a>
                </div>
        
                <div class="navbar-brand nav">
                    <a href="/">Semana de Esporte e Cultura</a>
                </div>
                
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#modal-crono">Modalidades &amp; Cronograma</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#inscricao">Inscrição</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/dashboard/login">Acessar o sistema</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" style="width: 40%;">
            <div class="alert alert-info"><%= alert %></div>
        </div>
    </body>
</html>